<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body class="bg-light">
    <div class="p-4">
        <h1>Signup</h1>
        <form action="/signup" method="post">
            <div class="p-1">
                <label for="Name">Name:</label>
                <input type="text" id="Name" name="name" placeholder="Name" required>
            </div>
            <br>
            <div class="p-1">
                <label for="Email">Email:</label>
                <input type="email" id="Email" name="email" placeholder="Email" required>
            </div>
            <br>
            <div class="p-1">
                <label for="Password">Password:</label>
                <input type="password" id="Password" name="password" placeholder="Password" required>
            </div>
            <input type="submit" value="Signup">
        </form>
        <p class="p-1"><a href="/">Back to Home</a></p>
    </div>

</body>
</html>
